[submodule "db-kjw-py"]
	path = db-kjw-py
	url = https://github.com/sohee52/db-kjw-py.git
	branch = main
[submodule "db-kjw-java"]
	path = db-kjw-java
	url = https://github.com/sohee52/db-kjw-java.git
	branch = main
[submodule "db-kjw"]
	path = db-kjw
	url = https://github.com/sohee52/db-kjw.git
	branch = main
[submodule "db-kyh-start"]
	path = db-kyh-start
	url = https://github.com/sohee52/db-kyh-start.git
	branch = main
[submodule "db-kyh-basic"]
	path = db-kyh-basic
	url = https://github.com/sohee52/db-kyh-basic.git
	branch = main
[submodule "db-kyh-design1"]
	path = db-kyh-design1
	url = https://github.com/sohee52/db-kyh-design1.git
	branch = main
